<div id="nav-list">
  <div class="user-home nv-list">
    <fa-icon [icon]="headIcons.faHome"></fa-icon>
  </div>
  <div class="user-search nv-list">
    <fa-icon [icon]="headIcons.faSearch"></fa-icon>
  </div>
  <div class="user-explore nv-list">
    <fa-icon [icon]="headIcons.faGlobe"></fa-icon>
  </div>
  <div class="user-chat nv-list">
    <fa-icon [icon]="headIcons.faComment"></fa-icon>
  </div>
  <div class="user-notify nv-list">
    <fa-icon [icon]="headIcons.faBell"></fa-icon>
  </div>
  <div class="user-create-post nv-list">
    <fa-icon [icon]="headIcons.faSquarePlus"></fa-icon>
  </div>
  <div class="user-acc nv-list">
    <fa-icon [icon]="headIcons.faUser"></fa-icon>
  </div>
  <br />
  <br />
  <div class="user-friends nv-list">
    <fa-icon [icon]="headIcons.faUserFriends"></fa-icon>
  </div>
</div>
