<div class="feeds_section">
  <div class="_feed">
    <div class="_feed_cred">
      <div class="_cred_user">
        <img
          src="https://img.freepik.com/free-psd/3d-illustration-person-with-sunglasses_23-2149436188.jpg?ga=GA1.1.715019536.1740314747&semt=ais_items_boosted&w=740"
          alt=""
          width="45"
        />
        <div class="_user_d">
          <div class="_d_hdl">
            <h3>Milo Xavior</h3>
            <strong>&#64;milo_xavior</strong>
          </div>
          <div class="_hdl_follow">
            <input type="submit" value="Follow" />
          </div>
        </div>
      </div>
      <div class="_cred_tools">
        <fa-icon [icon]="faDots"></fa-icon>
      </div>
    </div>
    <div class="_feed_info">
      <span class="_feed_post"
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
        consequuntur tempora pariatur consequatur expedita fugiat nesciunt
        dolore ea facilis obcaecati. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Dolorem perspiciatis id aperiam itaque doloribus
        nesciunt, commodi, vero repudiandae, mollitia ducimus fugiat? Cumque
        quam nesciunt harum qui nihil at inventore nisi!</span
      >
      <div class="_feed_covers">
        <img
          src="https://images.unsplash.com/photo-1748914473686-5f9e71c96658?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt=""
        />

        <img
          src="https://images.unsplash.com/photo-1748914473686-5f9e71c96658?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt=""
        />

        <img
          src="https://images.unsplash.com/photo-1748914473686-5f9e71c96658?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt=""
        />
      </div>
    </div>
    <div class="_feed_handle">
      <div class="_hdl_li">

        <fa-icon [icon]="faHt" class="lk"></fa-icon>
        <span>5k</span>
      </div>
      <div class="_hdl_cmn">

        <fa-icon [icon]="faMsg" class="msg"></fa-icon>
        <span>2k</span>
      </div>
      <div class="_hdl_shr">

        <fa-icon [icon]="faShr" class="shr"></fa-icon>
        <span>1.7k</span>
      </div>
    </div>
  </div>
</div>
