.feeds_section {
  width: 100%;

  ._feed {
    width: 100%;
    border: 2px solid #a1a1a1;
    padding: 16px 16px;
    background-color: #0c0c0c;
    color: rgb(230, 230, 230);
    font-family: sans-serif;
    border-radius: 3px;

    ._feed_cred {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      ._cred_user {
        width: 100%;
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;

        img {
          width: 45px;
          border-radius: 100px;
          border: 2px solid #d6d6d6;
        }

        ._user_d {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          ._d_hdl {

            h3 {
              color: #fff;
            }
            strong {
              font-size: 13px;
              color: rgb(178, 252, 255);
            }
          }

          ._hdl_follow {
            display: flex;
            justify-items: flex-end;

            input {
                padding: 5px 10px;
                background-color: aqua;
                border: none;
                border-radius: 3px;
                font-weight: 600;
                margin-right: 25px;
            }
          }
        }
      }
    }
    ._feed_info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;

      ._feed_post {
        border: 1.5px solid #d6d6d64d;
        padding: 10px 16px;
        border-radius: 3px;
      }

      ._feed_covers {
        display: flex;
        justify-content: space-between;

        img {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 160px;
          border-radius: 2px;
        }
      }
    }

    ._feed_handle {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        background-color: rgb(24, 23, 23);
        padding: 5px 10px;
        margin-top: 10px;
        border-radius: 3px;

        ._hdl_li, ._hdl_cmn, ._hdl_shr {
            display: flex;
            gap: 8px;

            fa-icon.lk {
                color: #e70087;
            }

            fa-icon.msg {
                color: #0166da;
            }

            fa-icon.shr {
                color: #5100e7;
            }

            span {
                font-family: sans-serif;
            }
        }
    }
  }
}
