<div
  class="_container"
  style="
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
  "
>
  <div
    class="_notification"
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      width: 100%;
      background-color: aquamarine;
      border-radius: 3px;
    "
  >
    <div
      class="_notify_container"
      style="
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        padding: 10px 10px;
      "
    >
      <div
        class="_notify_user"
        style="
          display: flex;
          align-items: center;
          gap: 5px;
          width: 100%;
          align-self: flex-start;
          border-bottom: 1.5px solid #fff;
          padding-bottom: 5px;
          margin-bottom: 5px;
        "
      >
        <div
          class="_user_img"
          style="
            width: 30px;
            height: 30px;
            border: 1.5px solid #27272775;
            border-radius: 100px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
          "
        >
          <img
            src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt=""
            style="
              width: 35px;
              height: 35px;
              display: flex;
              justify-content: center;
              align-items: center;
              object-fit: cover;
            "
          />
        </div>
        <div class="_user_handle">
          <strong style="font-size: 14px">&#64;milo_xarior</strong>
        </div>
      </div>
      <div class="_notify_img" style="display: flex; justify-content: center; align-items: center; margin: 5px 0px; width: 100%;">
        <img src="https://img.freepik.com/free-psd/3d-illustration-person-with-sunglasses_23-2149436188.jpg?ga=GA1.1.715019536.1740314747&semt=ais_items_boosted&w=740" alt=""  style="width: 100%;">
      </div>
      <div class="_notify_about">
        <h2 style="font-size: 16px">Friend Request From Rohan</h2>
        <p style="font-size: 14px; margin: 5px auto">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure,
          obcaecati. Soluta, ut similique quidem ex necessitatibus deleniti ab
          eius...
          <a href="#" style="font-size: 13px; text-decoration: none;">Read more</a>
        </p>
      </div>
    </div>
  </div>
</div>
