<div class="login-container">
    <form (ngSubmit)="onLogin()">
        <h2>Login Omoi</h2>

        <label for="email">Email</label>
        <input type="email" name="email" [(ngModel)]="email" class="login-email" required [placeholder]="placeholder.email">

        <label for="password">Password</label>
        <input type="password" name="password" [(ngModel)]="password" class="login-password" required [placeholder]="placeholder.password">

        <button type="submit">Login</button>
    </form>
</div>
