<div class="container">
  <form #FormName="ngForm" class="form">
    <div class="in-email">
      <label for="email">Email</label>
      <input type="email" name="email" id="" />
    </div>

    <div class="in-pass">
      <label for="Name">Password</label>
      <input type="password" name="password" id="" />
    </div>

    <div class="sign">
        <span>Don't have an account? </span> <a href="#">SignUp</a>
    </div>

    <button type="submit" class="submit">Login</button>
  </form>
</div>
