.login-container {
    display: block;
    width: 450px;
    background-color: beige;
    border-radius: 5px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.5);
    margin: 100px auto;
}

.login-container > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 15px;
}

form > h2 {
    display: flex;
    font-size: 26px;
    padding-bottom: 5px;
    justify-content: center;
    border-bottom: 2px solid rgba(153, 153, 153, 0.349);
    margin-bottom: 50px;
}

label {
    font-size: 18px;
    margin-bottom: 5px;
}

input {
    display: flex;
    flex: 1;
    padding: 8px 10px;
    outline: none;
    border: none;
    border-radius: 3px;
    color: #4b4b4b;
    font-size: 16px;
    margin-bottom: 5px;
}

button {
    margin: 15px 0px;
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    background-color: #42ca64;
    font-weight: 500;
    color: white;
    font-size: 17px;
    cursor: pointer;
}
