.flex-row {
  display: flex;
  width: 100%;
  position: fixed;
  height: 100vh;
  top: 70px;

  .row {
    display: grid;
    width: 100vw;
    grid-template-columns: 0.4fr 1fr 0.4fr;

    .col-1, .col-2, .col-3 {
        width: 100%;
    }
  }
}
