<div class="new-user-container">
  <form (ngSubmit)="onSignup()">
    <h2>{{ this.customsType.title }}</h2>

    <label for="name">Name</label>
    <input
      type="text"
      name="name"
      [(ngModel)]="this.name"
      required
      [placeholder]="this.customsType.name"
    />

    <label for="email">Email</label>
    <input
      type="email"
      name="email"
      [(ngModel)]="this.email"
      class="new-user-email"
      required
      [placeholder]="this.customsType.email"
    />

    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      [(ngModel)]="this.password"
      class="new-user-password"
      required
      [placeholder]="this.customsType.password"
    />

    <button type="submit">Signup</button>

    <span *ngIf="this.errMsg.length > 0">{{this.errMsg}}</span>

  </form>

</div>
